.header{
    width: 100%;
    background-color: rgb(42, 165, 97);
}

.nav-link{
    color: white !important;
}

.navbar-brand{
    color: white !important;
}

.hero{
    height: 650px;
    background-size: cover;
    background-image: url("olahraga-home.jpeg");
    text-align: center;
    padding: 100px;
}

.hero h1{
    color: rgb(255, 255, 255);
    font-size: 60px;
    font-weight: 700;
}

.hero p{
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.hero a{
    text-decoration: none;
    color: beige;
    background-color: rgb(13, 114, 80);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 25px;
}

.hero a:hover{
    color: beige;
    background-color: rgb(27, 187, 134);
}

.produk{
    background-color: rgb(233, 232, 232);
    height: 400px;
    width: 230px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.produk img{
    height: 150px;
    width: 230px;
    border-radius: 8px;
}

.nama-produk{
    color: black;
    font-size: 23px;
    font-weight: 500;
    margin-left: 15px;
    margin-top: 20px;
}

.harga-produk{
    color: black;
    font-size: 15px;
    font-weight: 300;
    margin-left: 15px;
    margin-top: -20px;
}

.produk a{
    text-decoration: none;
    color: beige;
    background-color: rgb(13, 114, 80);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 12px; 
    margin-left: 15px; 
}

.produk a:hover{
    color: beige;
    background-color: rgb(27, 187, 134);
}

.menu-produk{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.footer{
    text-align: center;
    padding: 20px;
    color: white;
    width: 100%;
    background-color: rgb(42, 165, 97);
}

@media screen and (max-width: 768px) {
    
    .produk{
        width: 150px;
        height: 230px;
    }

    .produk img{
        width: 150px;
        height: 100px;
    }

    .produk a{
        text-decoration: none;
        color: beige;
        background-color: rgb(13, 114, 80);
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 10px; 
        margin-left: 15px; 
    }

    .nama-produk{
        color: black;
        font-size: 15px;
        font-weight: 400;
        margin-left: 15px;
        margin-top: 20px;
    }

    .hero{
        height: 400px;
        padding: 50px;
    }

    .hero h1{
        color: white;
        font-size: 25px;
        font-weight: 700;
    }

    .hero p{
        color: white;
        font-size: 12px;
        font-weight: 300;
    }
}